@mixin dark {
  --inner-background: #250687;
  --outer-background: #1f1b20;
  --white: #1f1b20;
  --black: #f7f5f0;
}

:root {
  --outer-background: #a1a9b0;
  --inner-background: #f7f5f0;

  --white: #f7f5f0;
  --green: #27c650;
  --black: #1f1b20;
  --blue: #787ff6;
  --orange: #e46e0f;
  --grey: #a1a9b0;
  --red: #e2102c34;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    @include dark;
  }
}


:root.dark {
  @include dark;
}
