:root{
  --circle-border: var(--black);
  --circle-text: var(--black);

  --circle-disabled-border: var(--red);


  --progress: var(--green);
  --progress-blank: var(--inner-background);

  --button-text: var(--black);
  --history-border: var(--white);

  --circle-disabled: var(--grey);
  --circle-last: var(--blue);
  --circle-intermediate: var(--green);
  --circle-legal-move:var(--black);

  --recent-word-found: var(--green);
  --recent-word-previous: var(--blue);
  --recent-word-invalid: var(--orange);

  --found-word-found: var(--green);
  --found-word-not-found: var(--white);

  --infobar-none: var(--black);
  --infobar-valid: var(--blue);
  --infobar-invalid: var(--orange);
  --infobar-equation: var(--orange);
  --infobar-difficulty: var(--black);

  --tab-border-color: var(--black);
  --tab-background-locked-out: var(--grey);
  --tab-background-complete: var(--green);
  --tab-background-default: var(--outer-background);
  --tab-background-selected: var(--blue);

  --crosshair-width: 20.0px;
  --crosshair-height: 7.2px;

}



body {
  touch-action: manipulation;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  padding: 0;
  margin: 0;
  background-color: var(--outer-background);
}

.outer-container{
  position: relative;
  height: 100vh;
  margin: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--inner-background);
}

.container {
  position: relative;
  margin: auto;
  background-color: var(--inner-background);

}

dialog{
  background-color: var(--inner-background);
  color: var(--black);
  z-index: 2000;
}

.time-display, .worst-display, .hardest-display, .score-display{
  font-size: xx-large;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.dialog-button{
  width: 5em;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: large;
  font-weight: bold;
}

.dialog-message{
  font-family: 'Inconsolata', monospace;
  font-size: large;
  text-align: center;
}


/*Groups */

.circles{
  top:0;
  left: 0;
  position:absolute;
  width: 100%;
  aspect-ratio: 1/1;
  touch-action:none;
}

.tab-headers, .found-words, .recent-words, .crosshairs{
  position: absolute;
  top:0;
  left: 0;
}

.crosshairs{
  pointer-events: none;
}

.square {
  transition: 1s ease-out;
  position: absolute;
}


.circle {
  transition: 3s cubic-bezier(0, 1.45, 0.72, 1.33);
  border-color: var(--circle-border);
  border-style: solid;
  border-width: 8px;
  border-radius: 50%;
  width: var(--circle-diameter);
  height: var(--circle-diameter);

}

.circle-legal{
  cursor: pointer;
  border-color: var(--circle-legal-move);
}

.circle-disabled{
  cursor: not-allowed;
  border-color: var(--circle-disabled);
}

.circle-final{
  border-color: var(--circle-last);
}

.circle-intermediate{
  border-color: var(--circle-intermediate);
}



.circle-legal:hover {
  transform: scale(1.1);
}

.circle-disabled:hover {
  transform: scale(0.9);
  background-color: var(--circle-disabled-border);

}

.circle-text {
  font-size: var(--circle-radius);
  user-select: none;
  pointer-events: none;
  margin: 0;
  text-align: center;
  color: var(--circle-text);
  font-family: 'Inconsolata', monospace;
  font-weight: 1000;
  height: 100%;
  line-height: 200%;
  position: relative;

  z-index: 500;
}


.recent-word {
  position: absolute;
  font-family: 'Inconsolata', monospace;
  
  animation-name: disappearAnimation;  
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  pointer-events: none;
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  pointer-events: none;
  user-select: none;
  z-index: 1500;
}


@keyframes disappearAnimation {
  0% {
    opacity: 1;
    transform: translate(var(--startx), var(--starty)) scale(3) ;
  }

  50% {
    opacity: 0.2;
    transform: translate(var(--endx), var(--endy)) scale(1.5)  ;
  }

  100% {
    opacity: 0;
    transform: translate(var(--endx), var(--endy)) scale(1) ;
  }
}

/*
Tab Header
*/
.tab-header{
  height: var(--tab-header-diameter);
  width: var(--tab-header-diameter);
  font-size: var(--tab-header-font-size);
  line-height: 1.5;

  position:absolute;
  border-radius: 5px;
  padding: 0;
  margin:2px;

  font-family: monospace;
  font-weight: bold;
  box-sizing: inherit;

  user-select: none;
  border-width: 1px;
  border-color: var(--tab-border-color);
  border-style: solid;
  background-color: var(--tab-background-default);
  transition: transform 1s;
}

.selected-tab{
  border-width: 3px;
  margin:0;
  background-color: var(--tab-background-selected);
}

.locked-out-tab{
  background-color: var(--tab-background-locked-out);
  opacity: 50%;
}

.complete-tab{
  background-color: var(--tab-background-complete);
}


/*
Found Word
*/

.found-word{
  transition: all 1s;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  width: 30px;
  height: 30px;
  background-color: var(--found-word-not-found);
  color: var(--button-text);
}

.found-word-complete{
  background-color: var(--found-word-found);
}

.button-text{
  line-height: 1.5;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  text-anchor: middle;
  box-sizing: inherit;
  color: var(--button-text);
  background-color: transparent;
}




/*
Crosshairs
*/

.crosshair-group{
  pointer-events: none;
  position: absolute;
}

.crosshair{
  stroke-width: 7.2;
  transition: all 1s ease-out;
  opacity: 1.0;
  margin: 0;
  border: none;
  position: absolute;
  z-index: 100;
  border-radius: 10%;
  background-color: var(--circle-last);

  width: var(--crosshair-width);
  height: var(--crosshair-height);

}

.crosshair-extended {
  z-index: 200;
  background-color: var(--circle-intermediate);
  /* border-radius: 0; */
}

.invisible{
  opacity: 0.0;
  background-color: var(--circle-disabled);
}


.confetti-canvas{
  position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 1000; pointer-events: none;
}

.found-number{
  position:absolute;
  border-radius:5px;
}

.infobar-text{
  text-align: center;
  display: block;
  font-family: 'Inconsolata', monospace;
  transition: transform 1s;
}

.horizontal-writing{
  writing-mode: horizontal-tb;
  text-orientation: sideways;
  margin-block-start: 0;
  margin-block-end: 0;
}

.vertical-writing{
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin-block-start: 0;
  margin-block-end: 0;
}


details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  display: flex;
  cursor: pointer;
  font-size: large;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}


.history-page{
  background-color: var(--inner-background);
}

.page-header{
  margin: auto;
  color: var(--black);
  font-family: 'Inconsolata', monospace;
  font-size: xx-large;
  text-align: center;
}

.history-table{
  margin: auto;
}

/* .history-button{
  color: var(--white);
  background-color: var(--black);
  font-family: 'Inconsolata', monospace;
  text-align: left;
} */

.history-progress-box{
  background-color: var(--black);
  text-align: center;
}

.history-progress{
  height: 100%;
  color: var(--black);
}

.history-progress-box{
  height: 100%;
  width: 100px;
  border-color: var(--history-border);
  border: solid;
  font-family: 'Inconsolata', monospace;
}

.history-time-display{
  margin: 0;
  font-size: large;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.myriad-logo{
  line-height: 1.5;
  font-family: 'Inconsolata', monospace;
  text-anchor: middle;
  box-sizing: inherit;
  color: var(--button-text);
  background-color: transparent;
  font-size: xx-large;
  margin: 0;
  text-align: center;
}