:root{
  --circle-border: var(--black);
  --circle-text: var(--black);

  --circle-disabled-border: var(--red);


  --progress: var(--green);
  --progress-blank: var(--inner-background);

  --button-text: var(--black);
  --history-border: var(--black);

  --circle-disabled: var(--grey);
  --circle-last: var(--blue);
  --circle-intermediate: var(--green);
  --circle-legal-move:var(--black);

  --recent-word-found: var(--green);
  --recent-word-previous: var(--blue);
  --recent-word-invalid: var(--orange);

  --found-word-found: var(--green);
  --found-word-not-found: var(--white);

  --infobar-none: var(--black);
  --infobar-valid: var(--blue);
  --infobar-invalid: var(--orange);
  --infobar-equation: var(--orange);
  --infobar-difficulty: var(--black);

  --tab-border-color: var(--black);
  --tab-background-locked-out: var(--grey);
  --tab-background-complete: var(--green);
  --tab-background-default: var(--outer-background);
  --tab-background-selected: var(--blue);

}



body {
  touch-action: manipulation;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  padding: 0;
  margin: 0;
  background-color: var(--outer-background);
}


.container {
  position: relative;
  max-width: 400px;
  margin: auto;
  overflow-x: hidden;
  background-color: var(--inner-background);
  aspect-ratio: 8/13;
}

dialog{
  z-index: 2000;
}


/*Groups */

.circles{
  top:0;
  left: 0;
  position:absolute;
  width: 100%;
  aspect-ratio: 1/1;
  touch-action:none;
}

.tab-headers, .found-words, .recent-words, .crosshairs{
  position: absolute;
  top:0;
  left: 0;
}

.crosshairs{
  pointer-events: none;
}

.square {
  transition: 1s ease-out;
  position: absolute;
}


.circle {
  transition: 3s cubic-bezier(0, 1.45, 0.72, 1.33);
  border-color: var(--circle-border);
  border-style: solid;
  border-width: 8px;
  border-radius: 50%;
}

.circle-legal{
  cursor: pointer;
}

.circle-disabled{
  cursor: not-allowed;
}



.circle-legal:hover {
  transform: scale(1.1);
}

.circle-disabled:hover {
  transform: scale(0.9);
  background-color: var(--circle-disabled-border);

}

.circle-text {
  font-size: 3em;
  user-select: none;
  pointer-events: none;
  margin: 0;
  text-align: center;
  color: var(--circle-text);
  font-family: 'Inconsolata', monospace;
  font-weight: 1000;
  height: 100%;
  line-height: 210%;
  position: relative;

  z-index: 500;
}


.recent-word {
  position: absolute;
  font-family: 'Inconsolata', monospace;
  
  animation-name: disappearAnimation;  
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  pointer-events: none;
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  pointer-events: none;
  user-select: none;
  z-index: 1500;
}


@keyframes disappearAnimation {
  0% {
    opacity: 1;
    transform: translate(var(--startx), var(--starty)) scale(3) ;
  }

  50% {
    opacity: 0.2;
    transform: translate(var(--endx), var(--endy)) scale(1.5)  ;
  }

  100% {
    opacity: 0;
    transform: translate(var(--endx), var(--endy)) scale(1) ;
  }
}

/*
Tab Header
*/
.tab-header{
  height: 50px;
  width: 50px;
  position:absolute;
  border-radius: 5px;
  padding: 0;
  margin:2px;
  line-height: 1.5;
  font-family: monospace;
  font-weight: bold;
  box-sizing: inherit;
  font-size: 2.5em;
  user-select: none;
  border-width: 1px;
  border-color: var(--tab-border-color);
  border-style: solid;
  background-color: var(--tab-background-default);
}

.selected-tab{
  border-width: 3px;
  margin:0;
  background-color: var(--tab-background-selected);
}

.locked-out-tab{
  background-color: var(--tab-background-locked-out);
  opacity: 50%;
}

.complete-tab{
  background-color: var(--tab-background-complete);
}


/*
Found Word
*/

.found-word{
  transition: all 1s;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  width: 30px;
  height: 30px;
  background-color: var(--found-word-not-found);
  color: var(--button-text);
}

.found-word-complete{
  background-color: var(--found-word-found);
}

.button-text{
  line-height: 1.5;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  text-anchor: middle;
  box-sizing: inherit;
  color: var(--button-text);
  background-color: transparent;
}


.history-progress{
  background: var(--progress);
  height: 100%;
}

.history-progress-box{
  height: 100%;
  width: 100%;
  border-color: var(--history-border);
  border: solid;
}

/*
Crosshairs
*/

.crosshair-group{
  pointer-events: none;
  position: absolute;
}

.crosshair{
  stroke-width: 7.2;
  transition: all 1s ease-out;
  opacity: 1.0;
  margin: 0;
  border: none;
  position: absolute;
  z-index: 100;
  border-radius: 10%;
}

.crosshair-extended {
  z-index: 200;
  /* border-radius: 0; */
}

.invisible{
  opacity: 0.0;
}


.confetti-canvas{
  position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 1000; pointer-events: none;
}

.found-number{
  position:absolute;
  border-radius:5px;
}

.infobar-text{
  text-align: center;
  width: 100%;
  display: block;
  height: 60px;
  font-family: 'Inconsolata', monospace;
}